:root {
    --neutral-pale-blue: hsl(243, 100%, 93%);
    --neutral-grayish-blue: hsl(229, 7%, 55%);
    --neutral-dark-blue: hsl(228, 56%, 26%);
    --neutral-very-dark-blue: hsl(229, 57%, 11%);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg__container {
    position: relative;
    min-height: 100vh;
    background-color: var(--neutral-very-dark-blue);
    background-image: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
}

@media screen and (max-width: 640px){
    .bg__container {
        background-image: url(../images/bg-mobile.png);
        background-size: 100% 100%;
    }
}

.bg__flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 60vw;
    margin: 0 auto;
}

@media screen and (max-width: 640px){
    .container {
        width: 90vw;
    }
}

.row__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 640px){
    .row__container {
        display: block;
    }
}

.option-box {
    width: 30%;
    max-width: 30%;
    border-radius: 10px 100px 10px 10px;
    background: var(--neutral-dark-blue);
    padding: 40px;
}

@media screen and (max-width: 640px){
    .option-box {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}

.option-box > img {
    margin-bottom: 30px;
}

.option-box__icon__container {
    display: flex;
}

.icon__box {
    background: var(--neutral-very-dark-blue);
    padding: 15px;
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.summary-box {
    width: 65%;
    max-width: 65%;
    height: 75%;
    background: var(--neutral-dark-blue);
    border-radius: 10px;
    padding: 40px;
    align-self: flex-end;
    position: relative;
}

@media screen and (max-width: 640px){
    .summary-box {
        width: 100%;
        max-width: 100%;
        padding: 40px 40px 80px 40px;
    }
}

.summary-box__paragraph {
    margin: 0 0 15px 0;
    color: #ffffff;
}

@media screen and (max-width: 640px){
    .summary-box__paragraph {
        text-align: center;
    }
}

.summary-box__paragraph > span {
    font-weight: 700;
}

.summary-box__progress {
    width: 100%;
    background: var(--neutral-very-dark-blue);
    height: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.progress__bar {
    width: 81.5%;
    height: 13px;
    position: relative;
    border-radius: 10px;
    background-image: linear-gradient(to right,hsl(6, 100%, 80%), hsl(335, 100%, 65%))
}

.progress__bar > span {
    width: 11px;
    height: 11px;
    position: absolute;
    right: 0;
    top: .5px;
    margin-right: 1.5px;
    border-radius: 50%;
    background-color: #ffffff;
}

.summary-box__gb {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.summary-box__gb span {
    color: white;
    font-weight: 700;
}

.summary-box__alert {
    position: absolute;
    top: -35%;
    right: 40px;
    padding: 20px 25px;
    border-radius: 10px 10px 0 10px;
    background-color: #ffffff;
}

@media screen and (max-width: 640px){
    .summary-box__alert {
        bottom: -40px;
        right: 27%;
        top: initial;
        border-radius: 10px;
    }
}

.summary-box__alert::after {
    position: absolute;
    content: '';
    top: 80px;
    left: 135px;
    width: 38px;
    height: 18px;
    background-color: white;
    clip-path: polygon(50% 0%, 100% 100%, 100% 0);
}

@media screen and (max-width: 640px){
    .summary-box__alert::after {
        display: none;
    }
}

.summary-box__alert p {
    font-size: 35px;
    font-weight: 700;
    margin: 0;
    display: flex;
    align-items: center;
}

.summary-box__alert p > span {
    font-size: 14px;
    color: var(--neutral-grayish-blue);
}

.attribution { 
    position: absolute;
    bottom: 10px;
    font-size: 11px; 
    text-align: center; 
    color: var(--neutral-pale-blue);
}

.attribution a { 
    color: var(--neutral-grayish-blue); 
}